.banner {
    width: 100%;
    // height: 600px;
    justify-content: space-between;
    background-color: $dark;
    background-image: url('../img/background.png');
    background-size: cover;
    .container {
        padding-top: 50px;
    }
}
.titulo{
    width: 600px;
    background-color: rgba($color: $dark, $alpha: 0.9);
    padding: 25px;
    border: 3px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 1.0);
    p {
        font-size: 1.1rem;
        color: $luces;
        a {
            color: $colorPrincipal;
            font-weight: bold;
        }
    }
}
.imagen-banner {
    img {
        height: 491px;
        // margin-bottom: 3px;
    }
    border: 3px solid #fff;
    box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 1.0);
    height: 500px;
    width: 450px;
    backdrop-filter: blur(10px);
    background-color: $dark;
    // border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: -30px;
}
.particulas {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 600px;
    // background-color: aqua;
    .particula {
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: $colorPrincipal;
        // border: 2px solid #fff;
        box-shadow: 0 0 10px 5px $colorPrincipal;
        // box-sizing: border-box;
        &:nth-child(1) {
            animation: particle1 20s linear  infinite;
            top: 110%;
            right: 5%;
            background-color: $colorPrincipal;
            border: 1px solid #fff;
        }
        &:nth-child(2) {
            top: 110%;
            border: 1px solid #fff;
            left: -10%;
            background-color: $dark;
            animation: particle2 20s linear  infinite;
        }
        &:nth-child(3) {
            width: 60px;
            height: 60px;
            top: -10%;
            border: 1px solid #fff;
            left: 30%;
            background-color: $dark;
            animation: particle3 20s linear  infinite;
        }
        &:nth-child(4) {
            width: 30px;
            height: 30px;
            top: 110%;
            border: 1px solid #fff;
            left: 30%;
            background-color: $dark;
            animation: particle4 20s linear  infinite;
        }
        &:nth-child(5) {
            width: 400px;
            height: 400px;
            border: 1px solid #fff;
            bottom: -100px;
            right: -10%;
            background-color: $dark;
            animation: particle5 20s linear  infinite;
        }
    }
}
@keyframes particle1 {
    0% {
        box-shadow: 0 0 10px 5px $colorPrincipal;
        top: 110%;
        opacity: 0.3;
    }
    40% {
        top: 110%;
        opacity: 0.3;
    }

    60% {
        
        top: 60%;
        opacity: 1;
    }
    
    90% {
        box-shadow: 0 0 10px 5px $dark;
        opacity: 1;
    }
    100% {
        top: -10%;
        right: 10%;
        opacity: 0;
        transform: rotate(370deg) scale(1.5);
    }
}
@keyframes particle2 {
    0% {
        top: 110%;
        opacity: 0.2;
    }
    50% {
        top: 110%;
        opacity: 0.2;
        transform: rotate(0deg);
        left: -10%;
    }
    
    75% {
        top: 50%;
        opacity: 1;
        transform: rotate(180deg);
    }
    100% {
        transform: scale(4) rotate(350deg);
        top: -10%;
        opacity: 0.2;
        left: 70%;
    }
}
@keyframes particle3 {
    0% {
        top: -10%;
        opacity: 0.2;
        transform: rotate(0deg);
        box-shadow: 0 0 10px 5px $dark;
    }
    50% {
        transform: scale(4) rotate(180deg);
        opacity: 0.2;
        left: 80%;
        background-color: $colorPrincipal;
        top: 120%;
        opacity: 1;
    }
    100% {
        transform: scale(4) rotate(180deg);
        opacity: 0.2;
        left: 80%;
        top: 120%;

    }
}
@keyframes particle4 {
    0% {
        top: 110%;
        left: 30%;
        opacity: 0.2;
        // transform: rotate(0deg);
        transform: rotate(0deg); 

    }
    10% {
        top: 110%;
        left: 30%;
        opacity: 0.2;
        transform: rotate(0deg);
        background-color: $colorPrincipal;
    }
    20% {
        transform: scale(2) rotate(-180deg); 
        opacity: 0.8;
        left: 80%;
        top: -20%;
        background-color: $dark;
    }
    100% {
        transform: scale(2) rotate(180deg); 
        opacity: 0.2;
        left: 60%;
        top: -10%;

    }
}
@keyframes particle5 {
    0% {
        bottom: -400px;
        right: -400px;
        opacity: 0.2;
        transform: rotate(0);
    }
    10% {
        opacity: 0.2;
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
        // transform: scale(2);
        transform: scale(1) rotate(9deg);
        // transform: ;
    }
    11% {
        transform: scale(1.2) rotate(10deg);
        opacity: 0.5;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    13% {
        transform: scale(1) rotate(12deg);
        opacity: 0.2;
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
    }
    14% {
        opacity: 0.5;
        transform: scale(1.2) rotate(13deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    15% {
        transform: scale(1) rotate(15%);
        opacity: 0.2;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    30% {
        opacity: 0.5;
        background-color: $dark;
        transform: scale(1) rotate(30deg);
    }
    31% {
        transform: scale(1.2) rotate(31deg);
        opacity: 0.5;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    33% {
        transform: scale(1) rotate(33deg);
        opacity: 0.2;
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
    }
    34% {
        opacity: 0.5;
        transform: scale(1.2) rotate(34deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    35% {
        transform: scale(1) rotate(35deg);
        opacity: 0.2;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    50% {
        transform: scale(1) rotate(50deg);
        opacity: 0.5;
        background-color: $dark;
    }
    51% {
        opacity: 0.5;
        transform: scale(1.2) rotate(51deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    53% {
        transform: scale(1) rotate(53deg);
        opacity: 0.2;
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
    }
    54% {
        transform: scale(1.2) rotate(54deg);
        opacity: 0.5;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    55% {
        opacity: 0.2;
        transform: scale(1) rotate(55deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    70% {
        opacity: 0.8;
        transform: scale(1) rotate(70deg);
        background-color: $dark;
    }
    71% {
        opacity: 0.5;
        transform: scale(1.2) rotate(71deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    73% {
        transform: scale(1) rotate(73deg);
        opacity: 0.2;
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
    }
    74% {
        opacity: 0.5;
        transform: scale(1.2) rotate(74deg);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    75% {
        transform: scale(1) rotate(75deg);
        opacity: 0.2;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    90% {
        opacity: 0.5;
        transform: scale(1) rotate(90deg);
        background-color: $dark;
    }
    91% {
        opacity: 0.5;
        transform: scale(1.2);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    93% {
        opacity: 0.2;
        transform: scale(1);
        background-color: $colorPrincipal;
        box-shadow: 0 0 10px 5px $luces;
    }
    94% {
        opacity: 0.5;
        transform: scale(1.2);
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }
    95% {
        transform: scale(1.2);
        opacity: 0.2;
        background-color: $dark;
        box-shadow: 0 0 10px 5px $dark;
    }

    100% {
        bottom: 120%;
        right: 120%;
        transform: rotate(356deg); 
        opacity: 0.5;
    }
}