.banner {
    width: 100%;
    justify-content: space-between;
    background-color: $dark;
    background-image: url('../img/background.png');
    .container {
        padding-top: 50px;
    }
}
.titulo{
    width: 600px;
    background-color: rgba($color: $dark, $alpha: 0.9);
    padding: 25px;
    border: 3px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 1.0);
    p {
        font-size: 1.1rem;
        color: $luces;
        a {
            color: $acento-dark;
            font-weight: bold;
        }
    }
}
.imagen-banner {
    height: 500px;
    width: 500px;
    backdrop-filter: blur(10px);
    background-color: $acento-dark;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.459);
    border-radius: 10px;
}