.conocimientos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: $dark;
    .container {
        flex-flow: column nowrap;
    }
    .container-conocimientos {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 1100px) {
            flex-flow: column;
            .conocimientos-resumen{
                margin-bottom: 30px;
            }
        }
    }
}
.conocimientos-resumen {
    font-weight: bold;
    color: $luces;
    width: 500px;
}
.tec-resumen {
    display: flex;
    width: 450px;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 0.5);
    animation: 8s sombra ease infinite;
    
    // border-radius: 10px;
    background: linear-gradient(to bottom, $dark, $colorPrincipal);
    img {
        width: 80px;
        margin: 17px;
        &:hover {
            filter: drop-shadow(0 0 10px $colorPrincipal);
        }
    }
}
#logo {
    fill: $luces;
}
@keyframes sombra {
    0% {
        box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 0.5);
        
    }
    50% {
        box-shadow: 0 0 20px 5px rgba($color: $luces, $alpha: 0.5);
        
    }
    100% {
        box-shadow: 0 0 20px 5px rgba($color: $colorPrincipal, $alpha: 0.5);

    }
}