header {
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
    .brand {
        font-family: $titulos;
        font-size: 1.4rem;
        color: $colorPrincipal;
    }
    nav {
        display: block;
    }
    .normalNav {
        font-family: $fuentePrincipal;
        a {
            color: $luces;
            font-weight: bold;
            margin: 10px;
        }
    }
    .responsiveNav {
        display: none;
        flex-flow: column nowrap;
        font-family: $fuentePrincipal;
        a {
            color: $dark;
            font-weight: bold;
            margin: 10px;
        }
    }
}