header {
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
    flex-flow: row wrap;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 12;
    box-sizing: border-box;
    overflow: hidden;
    .brand {
        font-family: $titulos;
        font-size: 1.4rem;
        color: $colorPrincipal;
    }
    nav {
        display: block;
        font-family: $fuentePrincipal;
        a {
            color: $luces;
            font-weight: bold;
            margin: 10px;
        }
    }
    
    .responsiveNav {
        display: none;
        flex-flow: column nowrap;
        width: 100%;
        top: 36px;
        left: 100%;
        z-index: 9;
        position: fixed;
        background-color: $dark;
        align-items: center;
        transition: 1s ease;
        box-shadow: 0 10px 10px -8px $colorPrincipal;
        &.active {
            left: 0;
        }
    }
}
.menu-hamburguesa {
    img {
        width: 20px;
        padding: 3px;
        border: 1px solid $colorPrincipal;
    }
    display: none;
}