.proyectos {
    background-color: $colorPrincipal;
    padding-bottom: 30px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        color: $dark;
    }
}

.proyecto-texto {
    height: 76px;
    display: flex;
    align-items: center;
}