$colorPrincipal: #DE4C51;
$luces: #F2F2EB;
$acento-luz: #AC8C8F;
$acento-dark: #B3885C;
$dark: #312D39;
$fuentePrincipal: 'Fira Sans', sans-serif;
$titulos: 'Koulen', cursive;
.container {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        align-items: center;
}
a {
    text-decoration: none;
    font-family: $fuentePrincipal;
}
h1, h3{
    font-family: $titulos;
}
h2, p, h4 {
    font-family: $fuentePrincipal;
}
h1 {
    color: #fff;
    font-size: 3rem;
}
h2 {
    font-family: $fuentePrincipal;
    margin-bottom: 20px;
    color: $luces;
}
h3 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    padding: 50px;
    color: $colorPrincipal;
    letter-spacing: 4px;
}
h4 {
    color: $colorPrincipal;
}
h5 {
    font-family: $fuentePrincipal;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin: 0;
    color: $luces;
}