* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: "Fira Sans", sans-serif;
}

header {
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: silver;
}

.brand {
  font-family: "Koulen", cursive;
  font-size: 1.4rem;
  color: #c20016;
}

nav {
  font-family: "Fira Sans", sans-serif;
}

nav a {
  color: #444444;
  font-weight: bold;
  margin: 10px;
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
}

.imagen-banner {
  height: 500px;
  width: 500px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #c20016;
  -webkit-box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.459);
          box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.459);
  border-radius: 10px;
}

.titulo {
  width: 500px;
}

.titulo p {
  font-size: 1.1rem;
  color: #999999;
}

.titulo p a {
  color: #c20016;
}

h1 {
  color: #c20016;
  font-family: "Koulen", cursive;
  font-size: 3rem;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 20px;
  color: #fff;
}

h3 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  color: #c20016;
}

h4 {
  font-family: "Fira Sans", sans-serif;
  color: silver;
  padding: 15px;
}

.container {
  padding: 0 150px;
}

.conocimientos {
  background-color: #141414;
  padding-bottom: 30px;
}

.conocimientos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conocimientos-resumen {
  font-weight: bold;
  color: #fff;
  width: 500px;
}

.tec-resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#2e0005a9));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #2e0005a9);
}

.tec-resumen img {
  width: 80px;
  margin: 17px;
}

#logo {
  fill: #c20016;
}

.proyectos {
  background: -webkit-gradient(linear, left top, right top, from(silver), to(#2e2e2e));
  background: linear-gradient(to right, silver, #2e2e2e);
  padding-bottom: 30px;
}

.proyectos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proyecto {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: -webkit-gradient(linear, right bottom, left top, from(#53000afd), to(rgba(0, 0, 0, 0.753)));
  background: linear-gradient(to top left, #53000afd, rgba(0, 0, 0, 0.753));
}

.proyecto img {
  width: 100%;
  height: 130px;
}

.proyecto p {
  color: #fff;
  text-align: center;
}

.proyecto-texto {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  padding: 30px;
  background-color: #c20016;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer img {
  width: 30px;
}

.datos {
  background-color: #c20016;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h5 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.correo a {
  font-family: "Fira Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.correo a img {
  padding-right: 10px;
  width: 40px;
}
/*# sourceMappingURL=estilos.css.map */