.proyecto {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    background-color: $acento-dark;
    img {
        width: 100%;
        height: 130px;
    }
    p {
        color: #fff;
        text-align: center;
    }
}